

.circle{
    color: var(--white);
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.green{
    background-color: var(--neutral-1);
}
.blue{
    background-color: var(--color-1);
}
.red{
    background-color: var(--ancient-2);
}

.gray{
    background-color: var(--neutral-4);
}

.active{
    box-shadow: 0 0 25px var(--ancient-2);
  border: 25px solid var(--white);
}
  