

.circle{
    color: var(--white);
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 10px var(--ancient-2);
}

.circle:active{
    box-shadow: inset 0 0 40px var(--black);
    transform: scale(1.5);
}


.green{
    background-color: var(--neutral-1);
}
.blue{
    background-color: var(--color-1);
}
.red{
    background-color: var(--ancient-2);
}

.gray{
    background-color: var(--neutral-4);
}

.pink{
    background-color: var(--neutral-5);
}


.active{
    box-shadow: 0 0 25px var(--ancient-2);
    border: 25px solid var(--white);
    background-image: url('/src/assets/image/snowman.png');
    background-size: 100%;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='93' height='112' viewport='0 0 100 100' style='fill:black;font-size:56px;'><text y='50%'>👆</text></svg>") 16 0,auto;
}



/* ------############# Mobile size iphone 5/SE #############-----------*/

@media screen and (max-width: 568px){
    .circle{
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .active{
        box-shadow: 0 0 25px var(--ancient-2);
        border: 25px solid var(--white);
        background-image: url('/src/assets/image/snowman.png');
        background-size: 50%;
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='93' height='112' viewport='0 0 100 100' style='fill:black;font-size:56px;'><text y='50%'>👆</text></svg>") 16 0,auto;
    }

    
}

/* ------############# Ipad #############-----------*/
@media screen and (min-width: 568px) and (max-width: 1024px) {
     .circle{
        width: 100px;
        height: 100px;
        margin: 10px;
    }
}