*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --bg-color:linear-gradient(to bottom left, #dbc4c4, #e7e73f, green);*/
  --bg-color: linear-gradient(to right bottom, #532623, #975420, #bb9900, #a8eb12);
   /*--bg-color:radial-gradient(red 5%, yellow 40%, green 10%, blue 10%);*/


   --light-text: white;
   --light-text-2: rgb(224, 66, 66);
   --light-gray:lightgray;

   --white:#f7f3f3;
   --black:black;
 
   --bg-color-1:#0b520b;
   --bg-color-2:#333333e6;
   --bg-color-3:#becf21;
   --bg-color-4:#0b213b80;
   --bg-color-5:#0b520b;
 
   --color-1:#7290be;
  --color-2:#cecece;
  --color-3:#f5f5f5;
  --color-4:#333;
 
   --font-1: 'Caveat', cursive;
   --font-2:'Roboto', sans-serif;
 

}

body{
  background-image: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}